[project]
name = "tethyr-labs"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "flask>=3.1.2",
    "flask-cors>=6.0.1",
    "google-generativeai>=0.8.5",
    "opencv-contrib-python>=4.12.0.88",
    "opencv-python>=4.12.0.88",
]
